@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  font-family: 'Montserrat';
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root{
	--primary:darkgreen;
}
body{
    margin: 0;
    padding:0;
}
/*------------about-----------*/
.about{
  object-fit: contain;
  height:90vh;
  width:100%;
}
/* banner */
#home{
  width:100%;
  height:100vh;
}
.container{
  background:white;
  background-repeat: no-repeat;
  background-size:14%;
  display:flex;
  justify-content:center;
  padding: 4rem;
}
.container img{
  height: 65vh;
}
.swiper{
  width:80%;
  height:fit-content;
}
.swiper-slide img{
  width:100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
color:darkgreen;
}
.swiper .swiper-pagination-bullet-active{
  background:#fff;
}
a {
  color: #777;
  text-decoration: none;
}
p {
  margin: 0 0 45px 0;
  text-align: justify;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}
.link-arrow:hover:after {
  right: -35px
}
.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}
.link-arrow-hover:after {
  right: -35px
}
.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700;
}
.link:active,
.link:focus,
.link:hover {
  outline: 0;
}
.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}
.link:hover {
  color: #000;
}
.link:hover:before {
  width: 100%;
}
.link-theme:before {
  background: darkgreen;
}
@media only screen and (min-width:250px) {
  .main {
    padding-top: 150px;
  }
@media only screen and (min-width:768px) {
  .main {
    padding-top: 150px;
  }
}
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content:space-between;
padding-left: 4rem;
  position: sticky;
  width: 80%;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  padding-right: 1rem;
  margin-top: 1rem;
}
ul li ul.dropdown li {
    display: block;
    font-family: 'Montserrat'; 
}
ul li ul.dropdown{
    width:100%;
    position:absolute;
    z-index:999;
    display:none;
}
ul.dropdown li a:hover{
    color:black;
}
ul li:hover ul.dropdown{
    display:block;
  margin-top: 0;
}
.header li a {
  display: block;
  padding: 4px 20px 4px 20px;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}
.header .logo {
  color: darkgreen;
  display: block;
  float: left;
  font-weight: 600;
  font-size: 3.3em;
  padding: 2px 0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition:  .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}
/**********************sevice*************************/
.service{
  background: darkgreen;
  color: #fff;
  height: 20vh;
  width: 100%;
  text-align: center;
  padding-top: 4.7rem;
padding: auto;
font-size: 2.5rem;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
/********************pharmacy**********************/
.pharmhead
{
  font-size: 1.8rem;
  padding: 3rem 8rem;
  font-weight: 900;
  text-align: center;
}
.flexbox{
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

}
.infobox{
  width:390px;
  
  position:relative;
  background: linear-gradient(to right,rgb(131, 214, 89),green);
  padding: 3rem;
  font-weight: 600;

}
/*************************form*************/
.formbox{
  width:390px;
  position:relative;
  background:linear-gradient(lightgrey,rgb(210, 240, 192));
  padding: 5px;
  overflow: hidden;
}
.btnbox{
  width:220px;
  margin:35px auto;
  position:relative;
  box-shadow: 0 0 20px 9px darkgrey;
  border-radius: 30px;
}
.togglebtn{
cursor:pointer;
outline:none;
padding:15px 10px ;
padding-left: 2rem;
border:0;
position: relative;
background: transparent;
}
#btn{
  top:0;
  left:0;
  position: absolute;
  width:110px;
  height:100%;
  background: linear-gradient(to right,rgb(131, 214, 89),green);
  border-radius: 30px;
  transition:.5s;
}
.input-group{
  top:180px;
  position: absolute;
  width:280px;
  transition: .5s;
}
.input-field{
  width:100%;
  padding:10px 0;
  margin:3px 18px;
  outline:none;
  background: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid darkgreen;
}
.submitbtn{
  width:85%;
  padding:10px 30px;
  cursor: pointer;
  display: block;
  margin:2rem;
  background: linear-gradient(to right,rgb(131, 214, 89),green);
  border: 0;
  outline:none;
  border-radius: 30px;
}
.checkbox{
  margin:30px 5px 30px 0;
}
#login{
  left:50px;
}
#register{
  left:450px;
}
#uploadinfo{
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 3rem;
}
/*---------------------------footer---------------------------*/
#footer {
  background:rgb(0, 64, 0);
  color: white;
  
  padding: 6rem;
 
}
#footer p{
  text-align: center;
  margin-top: 1rem ;
  word-spacing: 3px;
  font-size: large;
}
.up{
  padding-left: 4rem;
  margin-top: 0;
  padding-top: 0;
}
